$primary: #26a69a;
$light: #f8f9fa;
$dark: #212529;
$enable-rounded: false;

@import "bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

body {
  font-family: "Josefin Sans", sans-serif;    
}

.navbar {
    background: rgba($color: $light, $alpha: 0.9);
    box-shadow: 2px 2px 2px $primary;
}

#home-section {
    height: 600px;
    background: url("../img/mountains.jpg");
    background-attachment: fixed;

    .curtain {
        padding-top: 66px;
        background: rgba($color: $primary, $alpha: 0.8);
    }

    h1 {
        font-weight: 700;
    }

    img {
        opacity: 0.8;
    }

}

#cards-section {
    background-image: url("../img/lines_inv.jpg");
    background-attachment: fixed;

    .curtain {
        background: rgba($color: $light, $alpha: 0.8);
    }
}